<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fastcampus Django</title>
</head>
<body>
    {{ user }} <br>
    <ul>
        {% for i in params %}
            <li>{{ i }}</li>
        {% endfor %}
    </ul>
    {% if user.is_authenticated %}
        <p><a href="{% url 're_logout' %}">로그아웃</a></p>
    {% else %}
        <p><a href="{% url 're_register' %}">회원가입</a></p>
        <p><a href="{% url 're_login' %}">로그인</a></p>
    {% endif %}
</body>
</html>